*{
  box-sizing: border-box;
  padding: 0;
  border: 0;
}
body{
  font-size: 14px;
  font-weight: bolder;
}
/* @font-face{
 ";
  src: url("../font/AvantGarde/ Demi.ttf") format("truetype");
}
@font-face{
  font-family: "Gibson";
  src: url("../font/Gibson.ttf") format("truetype");
} */


@font-face {
  font-family:'gibsonlight';
  src: url('/sites/all/themes/exhibitor_zone/fonts/gibsonlight-regular-webfont.woff2') format('woff2'),
       url('/sites/all/themes/exhibitor_zone/fonts/gibsonlight-regular-webfont.woff') format('woff'),
       url('/sites/all/themes/exhibitor_zone/fonts/gibsonlight-regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family:'AvantGarde';
  src: url('/sites/all/themes/exhibitor_zone/fonts/AvantGardeLT-Demi.woff2') format('woff2'),
       url('/sites/all/themes/exhibitor_zone/fonts/AvantGardeLT-Demi.woff') format('woff'),
       url('/sites/all/themes/exhibitor_zone/fonts/AvantGardeLT-Demi.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;

}


h1,h2,h3,h4,h5,h6{
  color: #145a2e;
  font-family:'AvantGarde';
  font-weight: 700;
  font-size: 1.2rem;
}

#content-header h1{
  padding: 0 6%;
}

.deadLineDt{
  font-size: 20px !important;
}
p,span{
  font-family: "gibsonlight" !important;
  /* font-size: 20px; */
}
.customImport{
  float: right;
  margin-right: 62px;
  margin-bottom: 13px;
}

.customeImage{
  float: left;
  margin-left: 301px;
  position: relative;
  padding-bottom: 29px;
}
.reopen a{
  font-size: 1.7rem;
}
.exhibitor_zone{
  position: absolute;
  z-index: 9;
  display: block;
  right: 0;
  left: 0;
  top: 3%;
  background: #ffffff24;
  padding: 3%;
  width: 50%;
  margin: auto;
  border-radius: 10px
}
.exhibitor_zone h2{
  color: #fff;
  font-size: 3rem;
}
.container-fluid,.navbar{
  padding: 0;
  margin: 0;
}
.logo img{
  border: none !important;
}
.nav-link{
  color: #145a2e;
  /* margin-top: 35px; */
  font-size: 17px;

  font-weight: 500;
  letter-spacing: 1px;
}
.menu:hover{
  border-bottom: 1px solid #56a732;
}
.nav-item{
  list-style: none;
}
.profile:hover{
  border: none;;
}
.dropdown-toggle{
  border: none !important;
}
.demo_deta{
  padding: 100px 0px;
}
.shrink img {
  transition: 1s ease;
  }

  .shrink img:hover{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
  }

  .supplier_infohead {
    background-color: #56a732;
    border-left: 6px solid #dedc00;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
  }
  .supplier_infohead p{
    margin-bottom: 0px;
  }

  .formselectcustom{

    width: 60% !important;

}

.table th {
  font-weight: 600 !important;
}
/* ************************loginpage css start*********************************** */
.login_pageh2{
  color: #145a2e;
}
.login_page{
  padding: 50px;
  width: 500px !important;
  height: 400px !important;
  position:absolute;
  top:50%;
  left:50%;
  margin-left: -230px !important;
  margin-top:-230px !important;
  border-radius: 10px;
  background:#ffffffed;
  box-shadow:
  12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
  -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
}
.logo{
  height:150px !important;
}

/* .gradient{

  background-image: url('../images/conference.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  filter: blur(6px);

} */
.item-list ul li {
  list-style: none;
}
.item-list ul{
  padding: 0px;
}
.forgot_password{
  float: right;
  padding-top: 5px;
}
.login{
  background: linear-gradient(to right, #56a732, #dedc00);
  width: 145px;
  padding: 9px;
  color: #fff;
  border:2px solid #56a732;

}
.login:hover{
  background:#fff;
  width: 145px;
  padding: 9px;
  color: #56a732;
  border:2px solid #56a732;

}
.reset_login{
  background: linear-gradient(to right, #56a732, #dedc00);
  width: 290px;
  padding: 9px;
  color: #fff;
  border:2px solid #56a732;
  margin: 10px 8px;
}
.reset_login:hover{
  background:#fff;
  width: 290px;
  padding: 9px;
  color: #56a732;
  border:2px solid #56a732;
  margin: 10px 8px;
}
.forgot_password_back{
  background: linear-gradient(to right, #56a732, #dedc00);
  width: 290px;
  padding: 9px;
  color: #fff;
  border:2px solid #56a732;

}
.forgot_password_back:hover{
  background:#fff;
  width: 290px;
  padding: 9px;
  color: #56a732;
  border:2px solid #56a732;
  margin: 10px 8px;
}
.btns_reset{
  text-align: center;
}

/* *******************************loginpage css end*********************************** */

/* ****************welcome section start*********************** */
.booth_img{
  border-radius: 8px;
}
.booth_details{
  padding: 100px 0px;
}
.snip1543 {
  background-color: #fff;
  color: #ffffff;
  font-size: 16px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.snip1543 *,
.snip1543 *:before,
.snip1543 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1543 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.snip1543:before,
.snip1543:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #145a2e;
  opacity: 0.5;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1543:before {
  -webkit-transform: skew(30deg) translateX(-80%);
  transform: skew(30deg) translateX(-80%);
}

.snip1543:after {
  -webkit-transform: skew(-30deg) translateX(-70%);
  transform: skew(-30deg) translateX(-70%);
}

.snip1543 figcaption {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 0;
  padding: 25px 40% 25px 20px;
}

.snip1543 figcaption:before,
.snip1543 figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #dedc00;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: "";
  opacity: 0.5;
  z-index: -1;
}

.snip1543 figcaption:before {
  -webkit-transform: skew(30deg) translateX(-100%);
  transform: skew(30deg) translateX(-100%);
}

.snip1543 figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-90%);
  transform: skew(-30deg) translateX(-90%);
}

.snip1543 h3,
.snip1543 ul {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.snip1543 h3 {
  font-family: "Teko", sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.snip1543 ul {
  font-size: 0.9em;
  padding-top: 18px;
}

.snip1543 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1543:hover h3,
.snip1543:hover ul {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.9;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.snip1543:hover:before {
  -webkit-transform: skew(30deg) translateX(-20%);
  transform: skew(30deg) translateX(-20%);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.snip1543:hover:after {
  -webkit-transform: skew(-30deg) translateX(-10%);
  transform: skew(-30deg) translateX(-10%);
}

.snip1543:hover figcaption:before {
  -webkit-transform: skew(30deg) translateX(-40%);
  transform: skew(30deg) translateX(-40%);
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.snip1543:hover figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-30%);
  transform: skew(-30deg) translateX(-30%);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.booth_details h2{
 color: #145a2e;
}
.bg-image{
  background-image: url('http://www.codebeetle.io/course/images/containers/mountains.jpg');
  height: 65vh;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 75vh;
}
.content-deta {
  background-color: #ffffffd9;;
  /* width: 49vw; */
  width: 70%;
  margin: auto;
  padding: 40px;
  border-radius:10px;
}
.full-width-image p {
  color: #145a2e;
  font-size: 140%;
  display: inline-block;
  margin: 4px 0 0 0;
  padding: 8px;
}
#navbarExample6{
  border-bottom: 2px solid #145a2e;
}
.nav-item{
  margin: 0px 10px;
}

/* **************************clients section start*********************************************** */
.clients h3{
  text-align: center;
  padding: 40px;
  font-size: 48px;
}
.cover{
  color:#145a2e;
  text-align: center;
  padding: 50px;
}

.event_info{
  /* background: linear-gradient(to right, #56a732, #dedc00); */
  background-image: url('../images/gredient.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 100px;
}
.event_info h1{
  color: #fff;
}
.event_list ul li{
font-size:23px ;
list-style: none;
}
.event_list li:before {
  content: "";
  border-color: transparent #145a2e;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}
.details{
  margin-top: 2rem;
}
  /* **************************clients section end*********************************************** */
/* ************************media query****************************** */
@media (min-width:360px)  and (max-width:740px){
  .login_page {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 50px;
      max-width: 357px;
      height: 398px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -180px;
      margin-top: -227px;
  }
  .login {
      background: linear-gradient(to right, #56a732, #dedc00);
      width: 111px;
      padding: 4px;
  }
  .content-deta {
      width: 103vw !important;
      margin: auto;
      padding: 40px
  }
  .map iframe{
      width: 300px;
      height: 300px;
      border:0;
  }
  .event_info {
      padding:0px ;
  }
  .bg-image{
      height: 67rem !important;

    }
    .booth_details {
      padding: 0px 0px;
  }
  .showcase h1 {
      /* margin-top: 157px !important; */
      margin-top: 5% !important;
      font-size: 5em !important;
      color: #fff;
      text-align: center;
  }
  .navbar-dark .navbar-toggler-icon, .navbar-light .navbar-toggler-icon {
      background-image: block !important;
  }
  .exhibitor_zone h2 {
      color: #fff;
      font-size: 2rem;
  }

}

@media (min-width:768px)  and (max-width:768px){
  .content-deta {
      width: 66vw;
      margin: auto;
      padding: 40px;
  }

  .exhibitor_zone h2 {
      color: #fff;
      font-size: 2rem;
  }

}

.Form_listing tr th td{
  padding: 0.6rem 1.4rem !important;
}
.Form_listing{
  border: 1px solid  #ddd !important;
}
.underline_color{
  color:#56a732;
}
.underline_color:hover{
  color:#4f616c;
}
.heading h1{
  text-transform: uppercase;
  font-stretch: normal;
  line-height: 1.08;
  font-size: 1.2rem;
  font-weight: 400;
}
.heading p{
  font-family: 'avant-garde-book', sans-serif !important;
  color: #4f616c;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: 0.5px;
  font-size: 13px;
}
.th_background{
  background-color: #474749;
  color: #ddd;

}
.th_background th{
  border-left: 1px solid #ddd;

}
.bg_black{
  background-color: #474749 !important;
 color: #ddd;
}
.bg_black:hover{
 color: #ddd !important;
}
.light_green{
  color:#56a732;
}
.light_green:hover{
  color: #474749;
}
.form-deta-border tr td{
  border-left: 1px solid #ddd!important;

}
.gray{
  color: #474749;
}
.form_inputs{
  width: 75%;
}
.textarea_widths{
  width: 88%;
}
.badge {
  font-size: 14px;
}

.form_heading h3{
  border-bottom-width: 7px;
  border-bottom: 1px solid green;
  width: 665px;
  margin: auto;
}
.form_heading_Guidance  h3{
  border-bottom-width: 7px;
  border-bottom: 1px solid green;
  width: 769px;

  margin: auto;
}
.md-outline.select-wrapper+label {
  top: .5em !important;
  z-index: 2 !important;
}
.common_btn{
  background: linear-gradient(to right, #56a732, #dedc00);
  width: 198px;
  padding: 5px;
  color: #fff;
  border:2px solid #56a732;
  margin: 10px 8px;
}
.common_btn:hover{
  background:#fff;
  width: 198px;
  padding: 5px;
  color: #56a732;
  border:2px solid #56a732;
  margin: 10px 8px;
}
.form_top_headings{
  /* display: flex;
  justify-content: space-between; */
  margin-top: 10%;
}

.form_inputwidth{
  width: 300px !important;
}
.info {
  background-color: #b2b2b2;
  border-left: 6px solid  #56a732;
  padding: 10px;
  border-radius: 6px;
  color: #fff;
}
/* ***********form deadline****************** */


/* ******************footer********************** */
.border-top{
  border-top:1px solid lightgray;
}
.red{
  color:#cc3232;
}
.youtub_links iframe{
  width: 300px;
  height: 250px;
}
/* ******************form status************************ */
.form_statues_heading{
  display: flex;
  justify-content: space-between;
}
.text-end{
text-align: end;
}
.bg-light{
  background-color: #b2b2b2;
}
.green{
  color: #145a2e;
}
.bg-green{
  background-color: #145a2e;
  color: #fff;
}
.bg-light_green{
  background-color:#56a732;
  color: #fff;
}
.bg-red{
  background-color: #cc3232;
  color: #fff;
}
.compulsory_name{
  margin-bottom: 0px;
}
.insurance_margintop{
  margin-top: 10rem;
}
.left_form .badge{
font-size:19px;
}
.form_card{
  box-shadow:0px 0px 7px -1px #b2b2b2;
  margin: 3rem 0rem;
  border-radius: 8px;
}
.social_icon a i{
  font-size: 40px;
}
.social_icon{
  display: flex;
  margin-top: -25px;
}
.new_profile.dropdown-toggle:after {
  display: inline-block;
  margin-left: -0.745em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
/* *****************exhibitor zone********************************* */

.showcase {
  width: 100%;
  /* height: 375px; */
  height: 173px;
  position: relative;
  color: white;
  text-align: center;
}

.showcase img {
  width: 100%;
  /* height: 100%; */
  position: absolute;
  top: 0;
  left: 0;
  z-index:99
}

.showcase .overlay {
  width: 100%;
  height: 500px;
  /* background-color: rgba(255, 255, 255, 0.2); */
  position: absolute;
  top: 0;
  left: 0;
  z-index:999
}

.showcase h1 {
  margin-top: 179px;
  font-size: 5em;
  color: #fff;;
  /* text-align: initial; */
}

.showcase p {
  margin-top: 8px;
  font-size: 1.2em;
}

.input_styles{
  border: 2px solid #56a732 !important;
  border-radius: 5px;
  padding: 5px;
}
.dropdowns_border{
  border: 2px solid #56a732 !important;
}

/* **************dashboard********************** */
.dashboard_deta h1{
font-size: 48px;
}



/* *********************slider start****************************** */
.slide img {
  width: 200px;
  height: 200px;
  animation: scroll 60s linear infinite;
}

.slide-track {
  width: 100%;
  display: flex;
  gap: 3em;
  overflow: hidden;
}

.slider {
  margin-top: 70px;
  background-color: whitesmoke;
  padding: 8em 2em;
}

@keyframes scroll {
  0% {transform: translateX(0);}
  100% {transform: translatex(-1000%)}
}
.sponser_heading h1{
  text-align: center;
}
/* ****************************slider end****************************************** */
/* *************************event  venue start********************************************/
.event_details {
  position: relative;
  margin: 0 auto;
  padding-bottom: 30px;
}

.event_details img {
  vertical-align: middle;
}

.event_details .content {
  position: absolute;
  bottom:0;
  background-color: #ffffffc2;
  color: #145a2e;
  width: 100%;
  padding: 50px 20px;
  font-weight: 700;
}
.event_details .container{
  padding: 0;
}
.content h5{
  font-weight: 700;
}
.content h6{
  font-weight: 700;
}

#content-header .title{
  text-align: left !important;
}

.title{
  text-align: center;
}
.cover h3{
  font-weight: 700;
  font-family: 'AvantGarde';
}
/* *************************event  venue end***********************/

/* ******************meet the team start************************* */
.card-img-top {
  width:50% !important;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card {
  padding: 1.5em 0.5em 0.5em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.border_card{
  border: 2px solid #dedc00 !important;

}
.card-title {
  font-weight: bold;
  font-size: 1.2em;
}
.card-text{
  font-weight: 700;
  font-size: 14px;
  color: #56a732;
}
.btn-primary {
  border-radius: 2em;
  padding: 0.5em 1.5em;
}
.meet_team_row{
  padding-bottom: 40px;
}

/* ******************meet the team end**************************/
/* **********************accomadation start***************************/
.accomadation_details{
  margin: 50px 0px;
}
/* **********************accomadation end***************************/
.exhibitorDetails input{
  border: 1px solid #56a732;
  padding: 5px;
  border-radius: 5px;
}