#search_container{
    font-family: "Roboto";
    z-index: 5500;
}
#cmbproduct{
    padding: 4px;
    border-radius: 3px;
    border: 1px solid #c0c0c0;
    width: 240px;
}
/* .divbutton input{
    border-radius: 5px;
    border: 1px solid #717171;
    padding: 5px 15px;
    background: #000;
    color: #fff;
} */