/************************floorplan toolbar css start************/
:root {
    --fptb-rad: 15px;
    --fptb-cart-color: #e600d5;
    --fptb-search-color: rgb(141, 12, 12);
}

#fp_toolbar_container {
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#fp_toolbar_container #fp_toolbar_info_container {
    border-top-left-radius: var(--fptb-rad);
    border-bottom-left-radius: var(--fptb-rad);
    background-color: #000;
}

#fp_toolbar_container #fp_toolbar_search_container {
    border-top: thin solid rgb(74, 74, 74);
    border-bottom: thin solid rgb(74, 74, 74);
    background-color: whitesmoke !important;
}


#fp_toolbar_container #fp_toolbar_minicart_container {
    border-top-right-radius: var(--fptb-rad);
    border-bottom-right-radius: var(--fptb-rad);
    background-color: var(--fptb-cart-color) !important;
    color: #fff !important;
}

.modal_box {
    margin: auto !important;
    width: 60%;
    display: flex;
}

.modal_close_btn {
    color: #fff !important;
}

.btn-close {
    color: #fff !important;
}

.legends_circle {
    font-size: 9px;
}

ul.legends_summary {
    margin-left: 1 rem;
}

ul.legends_summary li {
    margin-right: 25px;
}

/**Mobile**/

@media screen and (max-width: 660px) {

    #fp_toolbar_minicart_container div:nth-child(2) {
        visibility: hidden;
    }
}

/************************floorplan searchbar css end************/