.exhib_popup {
    position: absolute;
    z-index: 1000;
    width: 300px;
    height: 100px;
    top: 100px;
    background-color: #EAE9EA;
    padding: 5px;
    display: none;
    border-radius: 5px;
    border: 1px solid #717171;
}

.divselect {
    margin: 10px;
}
.divbutton {
    margin: 10px;
}