.booking-timer{
    width: 100%;
    max-width: 120px;
}

.booking-timer-heading{
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: #ad072c;
    padding: 4px;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #AFAFAF;
}

.booking-timer-countdown{
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 0px 0px 5px 5px;
    font-size: 12px;
}

.remaining-time-value{
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}

.remaining-time-value .part-value{
    width:14%;
    text-align: center;
}

.remaining-time-value .divider{
    width:14%;
    text-align: center;
}

.remaining-time-label{
    margin-bottom: 5px;
    font-size: 10px;
    color: #8F8F8F;
}

.remaining-time-label .part-label{
    width:14%;
    text-align: center;
}

.remaining-time-label .divider{
    width:14%;
    text-align: center;
}

